.MH-popup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    background-size: cover;
    left: 0;
    top: 0;
    z-index: 100;
    height: 100%;
    width: 100%;
}
.MH-overlay {
    width: 100%;
    height: 100vh;
    position: fixed;
    background-color: black;
    opacity: .7;
  
}
.MH-popup {
    Width:640px;
    border-radius: 12px;
    Padding:64px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    box-shadow: 0px 4px 16px 0px #1122110D;
    z-index: 100;
}
.MH-icon {
    width: 512px;
    height: 24.24px;
    padding: 5px;
    gap: 10px;
    display:flex;
    justify-content: end;
    cursor: pointer;
}
.MH-form {
    width: 512px;
}
.MH-title {
    font-family: var(--second-font);
    font-weight: 700;
    font-size: 40px;
    line-height: 50.52px;
    margin-bottom: 20px;
}
.MH-inputs {
    width: 512px;
    gap: 24px;
 
}
.MH-input1 {
    position: relative;
    margin-bottom: 24px;
}
.MH-input1 label {
    position: absolute;
    top: -9px;
    left: 14px;
    background-color: white;
    font-family: var(--main-font);
    width: 105px;
    font-weight: 400;
    line-height: 17.07px;
    font-size: 14px;
    text-align: center;
}
.MH-input1 input {
    width: 100%;
    padding: 15px 0px 15px 20px;
    border-radius: 4px;
    border-width: 1px;
    border-color: #79747E;
}
.MH-input1 input::placeholder {
    font-family: var(--main-font);
    color: black;
    font-weight: 400;
    size: 16px;
    line-height: 19.5px;
}
.MH-input1 img {
    position: absolute;
    right: 15px;
    top: 16px;
    cursor: pointer;
    gap: 10px;
}
.MH-input2 {
    position: relative;
    margin-bottom: 24px;
    display: flex;
    justify-content: space-between;
}
.MH-input2 .MH-label1 {
    position: absolute;
    top: -9px;
    left: 14px;
    background-color: white;
    font-family: var(--main-font);
    width: 75px;
    font-weight: 400;
    line-height: 17.07px;
    font-size: 14px;
    text-align: center;
}
.MH-input2 .MH-label2 {
    position: absolute;
    top: -9px;
    right: 195px;
    background-color: white;
    font-family: var(--main-font);
    width: 38px;
    font-weight: 400;
    line-height: 17.07px;
    font-size: 14px;
    text-align: center;
}
.MH-input2 input {
    width: 48%;
    padding: 15px 0px 15px 20px;
    border-radius: 4px;
    border-width: 1px;
    border-color: #79747E;
}
.MH-input2 input::placeholder {
    font-family: var(--main-font);
    color: black;
    font-weight: 400;
    size: 16px;
    line-height: 19.5px;
}
.MH-input1 .MH-label3 {
    width: 137px;
}
.MH-input1 .MH-icon1 {
    top: 4px;
}
.MH-cheakbox p {
    font-family: var(--main-font);
    font-size: 14px;
    font-weight: 500;
    margin-left: 8px;
     margin-bottom: 0;
     margin-top: 2px;

}
.MH-cheakbox {
    display: flex;
    align-items: start;
}
.MH-cheakbox input {
    margin-top: 5px; 
}

.MH-cheakbox {
    margin-bottom: 30px;
}
.MH-inputs .MH-btn {
    width: 100%;
    height: 48px;
    background-color: var(--main-bgcolor);
   text-align: center;
   padding-top: 12px;
} 
.MH-inputs .MH-addbtn {
    text-decoration: none;
    color: var(--black-color);
}
.MH-inputs .MH-paragraph {
    font-family: var(--main-font);
    text-align: center;
    font-weight: 400;
    font-size: 12px;
    line-height: 14.63px;
    margin-top: 16px;
}
@media (max-width:768px) {
    .MH-popup {
        width: 90%;
        height: 95%;
        padding: 30px;
    }
    .MH-inputs {
        width: 100%;
    } 
    .MH-input2 {
        flex-direction: column;
    }
    .MH-icon {
        width: 100%;
    }
    .MH-form{
        width: 100%;
    }
    .MH-input2 .MH-label2{
        left: 14px;
        top: 73px;
    }
    .MH-input2 input {
        width: 100%;
        margin-bottom: 14px;
        padding: 10px 0 10px 20px;
    }
    .MH-input2 {
        margin-bottom: 0;
    }
    .MH-cheakbox {
        margin-bottom:14px ;
    }
    .MH-title {
        font-size: 25px;
    }
    .MH-input1 input  {
        padding: 10px 0 10px 20px;
    }
}
@media (max-width:576px) {
    .MH-popup {
        padding: 15px;
    }
    .MH-title {
        margin-bottom: 10px;
    } 
    .MH-icon {
        margin-top: 10px;
    }


}
@media (max-width:380px) {
    .MH-popup {
        padding: 10px;
    } 
 

}