.Aya-Flight-Form {
    width: 46.8rem;
    height: 455px;
    padding: 1.5rem;
    gap: 24px;
    border-radius: 12px ;
    background: var(--second-text-color);
    box-shadow: 0px 4px 16px 0px #1122110D;
    margin-bottom: 7.5rem;
}
.Aya-Flight-Form .Form-Part1 .Login-Or-Signup {
    width: 702px;
    height: 25px;
    font-family: var(--second-font);
    font-size: var(--small-font-size);
    font-weight: var(--fourth-font-weight);
    line-height: 25.26px;
    text-align: left;
    color : var(--main-text-color);
    margin-bottom: 16px;
}
.Aya-Flight-Form .Form-Part1 .PhoneNumber {
    width: 702px;
    height: 56px;
    gap: 10px;
    border-radius: 4px;
    background: var(--second-text-color);
    border: 1px solid #79747E ;
    margin-bottom: 16px;
}
.Aya-Flight-Form .Form-Part1 .PhoneNumber::placeholder {
    padding: 18px 0 18px 16px;
    font-family: var(--main-font);
    font-size: var(--xsmall-font-siz);
    font-weight: var(--main-font-weight);
    line-height: var(--xxxsmall-line-hieght);
    text-align: left;
    color: #1C1B1F;
}
.Aya-Flight-Form .Form-Part1 .Text {
    width: 702px;
    height: 34px;
    font-family: var(--main-font);
    font-size: var(--xxsmall-font-size);
    font-weight: var(--main-font-weight);
    line-height: var(--xxsmall-line-hieght);
    text-align: left;
    color: var(--main-text-color);
    margin-bottom: 16px;
}
.Aya-Flight-Form .Form-Part1 .Text span {
    font-family: var(--main-font);
    font-size: var(--xxsmall-font-size);
    font-weight: var(--second-font-weight);
    line-height: var(--xxsmall-line-hieght);
    text-align: left;
    color: var(--main-text-color);
}
.Aya-Flight-Form .Form-Part1 .Continue {
    width: 702px;
    height: 48px;
    padding: 8px 16px 8px 16px;
    gap: 4px;
    border-radius: 4px ;
    background: var(--main-bgcolor);
    border: none;
    margin-bottom: 24px;
}
.Aya-Flight-Form .Form-Part1 .Continue span {
    width: 75px;
    height: 20px;
    font-family: var(--main-font);
    font-size: var(--xsmall-font-size);
    font-weight: var(--second-font-weight);
    line-height: var(--xxxsmall-line-hieght);
    text-align: left;
    color: var(--main-text-color);
}
.Aya-Flight-Form .Form-Part2 {
    width: 702px;
    height: 20px;
    gap: 24px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
}
.Aya-Flight-Form .Form-Part2 .Line1 , .Aya-Flight-Form .Form-Part2 .Line2 {
    width: 337px;
    height: 0px;
    opacity: 25%;
    border: 1px solid #112211 ;
    transform: rotate(180deg);
    margin: 10px 0;
}
.Aya-Flight-Form .Form-Part2 .or {
    width: 1.25rem;
    height: 1.25rem;
    font-family: var(--main-font);
    font-size: var(--xsmall-font-size);
    font-weight: var(--second-font-weight);
    line-height: var(--xxxsmall-line-hieght);
    text-align: left;
    color: var(--main-text-color);
}
.Aya-Flight-Form .Form-Part3 {
    width: 702px;
    height: 56px;
    gap: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
}
.Aya-Flight-Form .Form-Part3 .facebook , .Aya-Flight-Form .Form-Part3 .google , .Aya-Flight-Form .Form-Part3 .apple {
    width: 236.67px;
    height: 56px;
    padding: 16px 24px 16px 24px;
    border-radius: 4px ;
    border: 1px solid #FF8500 ; 
    background-color: #FFFFFF;
}
.Aya-Flight-Form .Form-Part3 .facebook img, .Aya-Flight-Form .Form-Part3 .google img , .Aya-Flight-Form .Form-Part3 .apple img {
    width: 1.5rem;
    height: 1.5rem;
}
.Aya-Flight-Form .Form-Part4 .Continue-with-email {
    border: none;
    background-color: #FFFFFF;
    border: 1px solid #FF8500 ;
    border-radius: 4px;
    width: 702px;
    height: 56px;
    padding: 16px 24px 16px 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Aya-Flight-Form .Form-Part4 .Continue-with-email img {
    padding-right: 16px;
    top: 3.75px;
    left: 1.5px;
}
.Aya-Flight-Form .Form-Part4 .Continue-with-email span {
    width: 166px;
    height: 20px;
    font-family: var(--main-font);
    font-size: var(--xsmall-font-size);
    font-weight: var(--second-font-weight);
    line-height: var(--xxxsmall-line-hieght);
    text-align: left;
    color: var(--main-text-color);
}
@media(min-width : 992px) and (max-width : 1310px) {
    .Aya-Flight-Form {
        width: 56.25rem;
    }
    .Aya-Flight-Form .Form-Part1 .Login-Or-Signup , .Aya-Flight-Form .Form-Part1 .PhoneNumber ,
    .Aya-Flight-Form .Form-Part1 .Text , .Aya-Flight-Form .Form-Part1 .Continue , .Aya-Flight-Form .Form-Part2 ,
    .Aya-Flight-Form .Form-Part3 , .Aya-Flight-Form .Form-Part4 .Continue-with-email{
        width: 53.125rem;
    }
}
@media(min-width : 768px) and (max-width : 991px) {
    .Aya-Flight-Form {
        width: 44.8rem;
    }
    .Aya-Flight-Form .Form-Part1 .Login-Or-Signup , .Aya-Flight-Form .Form-Part1 .PhoneNumber ,
    .Aya-Flight-Form .Form-Part1 .Text , .Aya-Flight-Form .Form-Part1 .Continue , .Aya-Flight-Form .Form-Part2 ,
    .Aya-Flight-Form .Form-Part3 , .Aya-Flight-Form .Form-Part4 .Continue-with-email{
        width: 42rem;
    }
}
@media(min-width : 576px) and (max-width : 767px) {
    .Aya-Flight-Form {
        width: 32rem;
    }
    .Aya-Flight-Form .Form-Part1 .Login-Or-Signup , .Aya-Flight-Form .Form-Part1 .PhoneNumber ,
    .Aya-Flight-Form .Form-Part1 .Text , .Aya-Flight-Form .Form-Part1 .Continue , .Aya-Flight-Form .Form-Part2 ,
    .Aya-Flight-Form .Form-Part3 , .Aya-Flight-Form .Form-Part4 .Continue-with-email{
        width: 29rem;
    }
}
@media(min-width : 400px) and (max-width : 575px) {
    .Aya-Flight-Form {
        width: 21rem;
        height: 470px;
    }
    .Aya-Flight-Form .Form-Part1 .Login-Or-Signup , .Aya-Flight-Form .Form-Part1 .PhoneNumber ,
    .Aya-Flight-Form .Form-Part1 .Text , .Aya-Flight-Form .Form-Part1 .Continue , .Aya-Flight-Form .Form-Part2 ,
    .Aya-Flight-Form .Form-Part3 , .Aya-Flight-Form .Form-Part4 .Continue-with-email{
        width: 18rem;
    }
    .Aya-Flight-Form .Form-Part1 .Text {
        height: 47px;
    }
}
@media(min-width : 320px) and (max-width : 399px) {
    .Aya-Flight-Form {
        width: 16.5rem;
        height: 510px;
    }
    .Aya-Flight-Form .Form-Part1 .Login-Or-Signup , .Aya-Flight-Form .Form-Part1 .PhoneNumber ,
    .Aya-Flight-Form .Form-Part1 .Text , .Aya-Flight-Form .Form-Part1 .Continue , .Aya-Flight-Form .Form-Part2 ,
    .Aya-Flight-Form .Form-Part3 , .Aya-Flight-Form .Form-Part4 .Continue-with-email{
        width: 13.5rem;
    }
    .Aya-Flight-Form .Form-Part1 .Login-Or-Signup {
        height: 45px;
    }
    .Aya-Flight-Form .Form-Part1 .Text {
        height: 65px;
    }
    .Aya-Flight-Form .Form-Part3 .facebook, .Aya-Flight-Form .Form-Part3 .google, .Aya-Flight-Form .Form-Part3 .apple {
        width: 60px;
        padding: 15px 10px 16px 10px;
    }
    .Aya-Flight-Form .Form-Part4 .Continue-with-email span {
        font-size: 14px;
    }
}