* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
.Aya-path .Aya-path-p .Aya-path-span1 {
    color: var(--main-bgcolor);
    font-family: var(--main-font);
    font-size: var(--xxsmall-font-size);
    font-weight: var(--second-font-weight);
    line-height: 17.07px;
    text-align: left;
    width: 48px;
    height: 17px;
    padding-right: 8px;
}
.Aya-path .Aya-path-p .Aya-path-icon1 , .Aya-path .Aya-path-p .Aya-path-icon2 {
    width: 14px;
    height: 14px;
    padding-right: 8px;
    opacity: 75%;
}
.Aya-path .Aya-path-p .Aya-path-span2 {
    width: 58px;
    height: 17px;
    font-family: var(--main-font);
    font-size: var(--xxsmall-font-size);
    font-weight: var(--second-font-weight);
    line-height: 17.07px;
    text-align: left;
    color: var(--main-bgcolor);
    padding-right: 8px;
}
.Aya-path .Aya-path-p .Aya-path-span3 {
    color: var(--main-text-color);
    font-family: var(--main-font);
    font-size: var(--xxsmall-font-size);
    font-weight: var(--second-font-weight);
    line-height: 17.07px;
    text-align: left;
    opacity: 75%;
}
.Aya-path {
    padding: 48px 0 29px 104px;
    background: #FAFAFA;
    width: max-content;
    top: 135px;
    left: 104px;
    gap: 8px;
}
.Aya-path .Aya-path-p {
    padding: 0;
}
@media (max-width : 992px) {
    .Aya-path {
        padding: 48px 30px 29px 30px;
    }
}
@media(min-width : 320px) and (max-width : 566px) {
    .Aya-path {
        width: 320px;
    }
}