.MH-FlightBooking2 {
    background-color: #FAFAFA;
}
.MH-FlightBooking2 nav {
    background-color: white;
    width: 100%;
    left: 0;
    z-index: 100;
}
.MH-FlightBooking2 .NM_Start a{
    color: black;
}
.MH-FlightBooking2 .NM_Start img{
    color: black;
}
.MH-FlightBooking2 .MS-newsletter {
    bottom: -1080px;
}
.MH-FlightBooking2 .MH-main2 .MH-main2-contents {
    justify-content: space-between;
}
.MH-FlightBooking2 .MH-main2 .MH-main2-contents {
    margin-right: 0;
}