.MS-newsletter{
    width:1232px;
    padding: 0px 24px 0px 24px;
    border-radius: var( --main-border-radius);
    background-color: var( --second-bgcolor);
    box-shadow: 0px 4px 16px 0px #1122110D;
    display: flex;
    justify-content: space-between;
    color: var(--second-text-color);
    position: relative;
    margin:  0 auto;
    margin-bottom: -150px;
    z-index: 10;
}
.MS-newsletter h2{
    width: 364px;
    padding: 24px  0;
    font-size:var(  --xlarge-font-size); 
    font-weight: var(  --fourth-font-weight);
    line-height: 54px;
}
.MS-newsletter h6{
font-size: var( --small-font-size);
font-weight: var(  --fourth-font-weight);
line-height: 25.26px;
Opacity:80%;
}
.MS-newsletter p{
opacity: 70%;
font-weight: var(--second-font-weight);
line-height: 19.5px;
}
.MS-inputnewsletter{
width:473px;
height:56px;
gap: 10px;
border-radius: 4px;
padding: 8px 16px 8px 16px;
border: none;
}
.MS-inputnewsletter::placeholder{
    color: #1C1B1F;
}
.MS-btnnewsletter{
    background-color: var(--second-text-color);
    border: none;
    width: 104px;
    height: 56px;
    padding: 8px 16px 8px 16px;
    border-radius: 4px;
    margin-left: 16px;
    font-size: var( --xxsmall-font-size);
    font-weight: 600;
}
@media (max-width:  1200px) {
    .MS-btnnewsletter{
        margin: 10px 0;
    }
}
@media (max-width:993px) and (min-width:768px) {
    .MS-btnnewsletter{
        margin-left: 16px;
    }
}
@media (max-width: 992px) {
    .MS-imgSubscribe{
        width: 200px;
    }
    .MS-newsletter{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .MS-newsletter h2{
        width: 100%;
    }
}
@media (max-width: 576px) {
    .MS-newsletter{
        width: 90%;
    }
    .MS-inputnewsletter{
        width: 80%;
    }
    .MS-newsletter h2{
        font-size: var(  --medium-font-size);
    }
} 