.MH-info {
    padding: 0 7% 200px 7%;
}
.MH-info h2 {
    font-family: var(--main-font);
    font-weight: 600;
    font-size: 24px;
    line-height: 1.2;
    margin-bottom: 34px;
}
.MH-info h4 {
    font-family: var(--main-font);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 16px;
}
.MH-info .MH-info-content ul li  p {
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.4;
    display: inline;
}
.MH-info .MH-info-content ul li {
    margin-bottom: 16px;
}
.MH-info .MH-info-content ul {
    list-style: none;
}
.MH-info .MH-info-content ul li::before{
    content: "- ";
    margin-left: -10px;
}
.MH-info .MH-info-content2 {
    list-style: none;
    padding-left: 0;
}
.MH-info .MH-info-content2 p {
    margin-bottom: 0;
}
.MH-main2-icons {
    display: flex;
    justify-content: space-around;
    width: 100%;
}