/*Section Two Style*/

.OS_Travel_Section {
    padding: 5rem 6.5rem;
}

.OS_Travell_Section {
    padding: 0rem 6.5rem;
}

.OS_oone_Title {
    display: flex;
}

.OS_Title_Book {
    width: 90%;
}

.OS_Title_Book h3 {
    font-size: var(--medium-font-size);
    font-weight: var(--third-font-weight);
    line-height: var(--xxxmedium-line-hieght);
}

.OS_Title_Book p {
    font-size: var( --xsmall-font-size);
    font-weight: var(--main-font-weight);
    line-height: var( --xxxsmall-line-hieght);
    width: 80%;
}

.OS_Button_Book {
    display: flex;
    justify-content: end;
    align-items: center;
    width: 20%;
}

.OS_Button_Book button {
    width: 5rem;
    height: 2.5rem;
    border: none;
    background-color: transparent;
    border: 2px solid var(--main-bgcolor);
    gap: 10px;
    border-radius: 5px;
}

.OS_Travel_R {
    padding-top: 2.5rem;
    flex-wrap: wrap;
    display: flex;
}

.OS-Travel {
    background-size: cover;
    background-repeat: no-repeat;
    width: 18.5rem;
    height: 26.25rem;
    color: #fff;
    margin-right: 1rem;
    border-radius: 12px;
}

.OS_Travel_T {
    display: flex;
    align-items: end;
    height: 85%;
}

.OS_Travel_Title h6 {
    font-size: var(--second-medium-font-size);
    font-weight: var( --third-font-weight);
}

.OS_Travel_Title p {
    width: max-content;
    font-size: var(--xxsmall-font-size);
    font-weight: var( --main-font-weight);
}

.OS_Travel_Title {
    width: 80%;
}

.OS_Sale {
    display: flex;
    justify-content: end;
    font-size: var(--second-medium-font-size);
    font-weight: var( --third-font-weight);
}

.OS-Travel1 {
    background-image: url(./../../assets/images/Melbourne.png);
}

.OS-Travel2 {
    background-image: url(./../../assets/images/PParis.png);
}

.OS-Travel3 {
    background-image: url(./../../assets/images/LLondon.png);
}

.OS-Travel4 {
    background-image: url(./../../assets/images/Columbia.png);
}

.OS-btn-Book {
    display: flex;
    align-items: center;
    justify-content: center;
}

.OS-btn-Book button {
    width: 15.5rem;
    height: 3rem;
    font-size: var(--xxsmall-font-size);
    font-weight: var(--second-font-weight);
    border-radius: 4px;
    border: none;
    background-color: var( --main-bgcolor);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var( --main-text-color);
}


/*section BackBacking Style*/

.OS-BackPacking {
    display: flex;
    padding: 0px 104px 120px 104px;
    flex-wrap: wrap;
}

.OS-one-Backing {
    background-color: var(--main-bgcolor);
    border-radius: 20px;
    position: relative;
    padding: 1.5rem;
    width: 552px;
    height: 424px;
}
.OS-Back_Par {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 504px;
}

.OS-paragraf p {
    font-size: var(--xxsmall-font-size);
    font-weight: var(--main-font-weight);
}

.OS-Back_Par h1 {
    width: 80%;
}

.OS-Col-paragraf {
    display: flex;
    justify-content: end;
}

.OS_P {
    width: 504px;
    padding-bottom: 10px;
}

.OS-paragraf {
    width: 4.5625rem;
    height: 3.875rem;
    border-radius: 8px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.OS-paragraf p {
    font-size: var( --xxsmall-font-size);
    font-weight: var( --main-font-weight);
    line-height: var(--xxsmall-line-hieght);
    width: 2.5rem;
    height: 1.125rem;
    padding-top: 8px;
}

.OS-paragraf h6 {
    font-size: var( --small-font-size);
    font-weight: var( --third-font-weight);
    line-height: var(--xmedium-line-hieght);
    width: 3.5625rem;
    height: 1.5rem;
    padding-bottom: 8px;
}

.OS_div_Btn {
    display: flex;
    justify-content: center;
}

.OS_btn_Book {
    position: absolute;
    bottom: 1.3125rem;
    width: 31.5rem;
    height: 3rem;
    border-radius: 4px;
    border: none;
    font-size: var(--xxsmall-font-size);
    font-weight: var(--second-font-weight);
    line-height: var(--xxsmall-line-hieght);
}

.OS-two-Backing {
    min-width: 656px;
    height: 424px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.OS_img_Travel {
    border: 2px solid var(--main-bgcolor);
    border: none;
    border-radius: 12px;
    display: flex;
    width: 318px!important;
    height: 200px;
}

.img {
    width: 318px;
    height: 200px;
}

.img1 {
    padding-left: 24px;
    padding-right: 20px;
}
.MS-padding {
    display: flex;
    padding: 0px 104px 24px 104px !important; 
}
@media screen and (max-width:1431px) {
    .OS-Travel4 {
        margin-top: 10px;
    }
    .OS-two-Backing {
        margin-top: 10px;
    }
    .img1 {
        padding-left: 0px;
    }
}
@media screen and (max-width:1119px) {
    .OS-Travel3 {
        margin-top: 10px;
    }
}
@media screen and (max-width:807px) {
    .OS-Travel2 {
        margin-top: 10px;
    }
    .OS_one_Title {
        display: flex;
        flex-wrap: wrap;
    }
    .OS_Button_Book {
        width: 100%;
    }
    .OS_Title_Book {
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
}
@media screen and (max-width:319px) {
    .OS-BackPacking {
        flex-wrap: wrap;
    }
}