.MS-FlightAndHotel{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    padding-bottom: 70px;
}
@media (max-width: 992px) {
    .MS-FlightAndHotel{
        flex-wrap: wrap;
    }
}