* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.FlightBookingRow {
    --bs-gutter-x: 0;
    --bs-gutter-y: 0;
    display: flex;
    justify-content: space-between;
    padding: 0 5rem ; 
}
.FlightBooking {
    background: #FAFAFA;
}
.FlightContainer {
    width: 49.375rem;
}
@media (min-width : 1310px) and (max-width : 1400px) {
    .FlightContainer {
        width: 46.375rem;
    }
}
@media (min-width : 1270px) and (max-width : 1309px) {
    .FlightContainer {
        width: 44.375rem;
    }
}
@media (min-width : 1225px) and (max-width : 1269px) {
    .FlightContainer {
        width: 42.375rem;
    }
}
@media (min-width : 1180px) and (max-width : 1224px) {
    .FlightContainer {
        width: 39.375rem;
    }
}
@media (min-width : 1130px) and (max-width : 1179px)  {
    .FlightContainer {
        width: 39.375rem;
    }
}
@media (min-width : 1100px) and (max-width : 1129px) {
    .FlightContainer {
        width: 39.375rem;
    }
}
@media (max-width : 1099px) {
    .FlightBookingRow {
        flex-wrap: wrap;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
}
@media (min-width : 993px) and (max-width : 1099px)  {
    .FlightContainer {
        width: 56.25rem;
    }
}
@media (min-width : 768px) and (max-width : 992px)  {
    .FlightBookingRow {
        padding: 0 1.875rem;
    }
    .FlightContainer {
        width: 44.8rem;
    }
}
@media(min-width : 576px) and (max-width : 767px) {
    .FlightBookingRow {
        padding: 0 1.875rem;
    }
    .FlightContainer {
        width: 32rem;
    }
}
@media(min-width : 400px) and (max-width : 575px) {
    .FlightBookingRow {
        padding: 0 1.875rem;
    }
    .FlightContainer {
        width: 21rem;
    }
}
@media(min-width : 320px) and (max-width : 399px) {
    .FlightBookingRow {
        padding: 0 1.875rem;
    }
    .FlightContainer {
        width: 16.5rem;
    }
} 