.NM_Text{
    font-size: 12px;
    font-weight: 400;
    line-height: 14.63px;
    width: 83.1%; /* 532 *100 /640 */
    height: 45px;
    opacity: 0.75px;
    text-align: center;
    margin:0 auto;
}
.NM_Back img{
    width: 24px;
    height: 24px;
    margin-right: 4px;
}
.NM_Back{
    display: flex;
    flex-direction: row;
    text-decoration: none;
    color: var(--main-text-color);
    margin-bottom: 16px;
}
.NM_Back p{
    margin: 0;
}
.NM_Visa{
    width: 24px;
    height: 15.7px;
}
@media screen and (max-width:704px) {
    .NM_Text,.NM_SignUpF h2{
        height: max-content;
    }
  }