:root {
  --main-bgcolor: #FF8500;
  --second-bgcolor: #282828;
  --third-bgcolor: #EBF6F2;
  --fourth-bgcolor:#FFFFFF;
  --fivth-bgcolor: #FAFBFC;
  --forth-bgcolor: #fafbfc;
  --price-color: #71AA27;
  --main-text-color: #112211;
  --second-text-color: #ffffff;
  --gray-text-color: #938C8C;
  --first-account-color: #8DD3BB;
  --second-acount-color: #FF8682;
  --facebook-icon-color: #1877F2;
  --black-color: #000000;
  --border-color:#79747E;
  --main-font:'Montserrat', sans-serif;
  --second-font:'TradeGothic LT Extended Regular', sans-serif;
  --main-padding: 104px;
  --main-border-radius: 20px;
  --second-border-radius: 16px;
  --third-border-radius: 12px;
  --main-font-weight: 400;
  --second-font-weight: 500;
  --third-font-weight: 600;
  --fourth-font-weight: 700;
  --xxxlarge-font-size: 80px;
  --xxlarge-font-size: 45px;
  --xlarge-font-size: 44px;
  --large-font-size: 40px;
  --medium-font-size: 32px;
  --second-medium-font-size: 24px;
  --small-font-size: 20px;
  --xsmall-font-size: 16px;
  --xxsmall-font-size: 14px;
  --xxxsmall-font-size: 12px;
  --xxxlarge-line-hieght: 101.04px;
  --xxlarge-line-hieght: 56.84px;
  --xlarge-line-hieght: 54px;
  --large-line-hieght: 50.52px;
  --xxxmedium-line-hieght: 39.01px;
  --xxmedium-line-hieght: 30.31px;
  --xmedium-line-hieght: 24.38px;
  --medium-line-hieght: 20.21px;
  --xxxsmall-line-hieght: 19.5px;
  --xxsmall-line-hieght: 17.07px;
  --xsmall-line-hieght: 15.16px;
  --small-line-hieght: 14.63px;
  --xlarge-width-icon: 24px;
  --large-width-icon: 20px;
  --meduim-width-icon: 18px;
  --small-width-icon: 16px;
    --main-bgcolor: #FF8500;
    --second-bgcolor: #282828;
    --third-bgcolor: #EBF6F2;
    --price-color: #71AA27;
    --main-text-color: #112211;
    --second-text-color: #ffffff;
    --gray-text-color: #938C8C;
    --first-account-color: #8DD3BB;
    --second-acount-color: #FF8682;
    --facebook-icon-color: #1877F2;
    --black-color: #000000;
    --main-font: 'Montserrat', sans-serif;
    --second-font: 'TradeGothic LT Extended Regular', sans-serif;
    --main-padding: 104px;
    --main-border-radius: 20px;
    --second-border-radius: 16px;
    --third-border-radius: 12px;
    --main-font-weight: 400;
    --second-font-weight: 500;
    --third-font-weight: 600;
    --fourth-font-weight: 700;
    --xxxlarge-font-size: 80px;
    --xxlarge-font-size: 45px;
    --xlarge-font-size: 44px;
    --large-font-size: 40px;
    --medium-font-size: 32px;
    --second-medium-font-size: 24px;
    --small-font-size: 20px;
    --xsmall-font-size: 16px;
    --xxsmall-font-size: 14px;
    --xxxsmall-font-size: 12px;
    --xxxxsmall-font-size: 10px;
    --xxxlarge-line-hieght: 101.04px;
    --xxlarge-line-hieght: 56.84px;
    --xlarge-line-hieght: 54px;
    --large-line-hieght: 50.52px;
    --xxxmedium-line-hieght: 39.01px;
    --xxmedium-line-hieght: 30.31px;
    --omedium-line-hieght: 25.26px;
    --oomedium-line-hieght: 29.26px;
    --xmedium-line-hieght: 24.38px;
    --medium-line-hieght: 20.21px;
    --xxxsmall-line-hieght: 19.5px;
    --xxsmall-line-hieght: 17.07px;
    --xsmall-line-hieght: 15.16px;
    --small-line-hieght: 14.63px;
    --xxxxsmall-line-hieght: 12.63px;
    --xlarge-width-icon: 24px;
    --large-width-icon: 20px;
    --meduim-width-icon: 18px;
    --small-width-icon: 16px;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: var(--main-font);
  scroll-behavior: smooth;
}
h1,h2,h3,h4,h5,h6 {
  font-family: var(--second-font) !important;
}