.NM_NavBar {
    width: calc(100% - 60px);
    background: transparent;
    padding: 36px 32px;
    height: 96px;
    font-size: var(--xxsmall-font-size);
    font-weight: var(--third-font-weight);
    line-height: var(--xxsmall-line-hieght);
    font-family: var(--main-font);
    display: flex;
    align-items: center;
    position: fixed;
    right: 30px;
    transition: background 0.3s ease, width 0.3s ease;
}
:host([FlightBooking2]).Nav::ng-deep.NM_NavBar {
    background-color: aqua;

}


.NM_NavBar.scrolled {
    background: rgba(0, 0, 0, 0.8);
    top: 0; 
    width: 100%;
    right: 0;
    left: 0;
}

.NM_Start {
    width: 242px;
    height: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.NM_Start a {
    text-decoration: none;
    color: var(--second-text-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4px;
}

.NM_Start a img {
    width: 22.5px;
    height: 19.5px;
}

.NM_FindFlight {
    width: 107px;
}

.NM_FindStays {
    width: 103px;
}

.NM_Logo {
    width: 110.36px;
    height: 36px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.NM_Buttons {
    width: 177px;
    height: 48px;
    /* right: 2.32%; */
    right: 32px;
    position: absolute;
}

.NM_Buttons button {
    border: none;
}

.NM_Login {
    width: 73px;
    padding: 15.5px 32px 15.5px 0;
    background-color: transparent;
    color:var(--second-text-color) ;
}

.NM_Signup {
    width: 104px;
    padding: 15.5px 24px;
    border-radius: 8px;
}
.NM_ToggleButton {
    background: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: .2rem;
    position: fixed;
    right: 37px;
    top: 42px;
}

.NM_ToggleButton span {
    width: 25px;
    height: 2px;
    margin-bottom: .3rem;
    background-color: var(--main-bgcolor);
    display: block;
    transition: all 0.3s ease;
}

.NM_End.open {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding-top: 10rem;
    align-items: start;
    gap: 2rem;
    background-color: rgba(0, 0, 0, 0.8);
    width: 14rem;
    border-top-left-radius: 30px;
    box-shadow: -31px 0px 20px rgba(0, 0, 0, 0.1); 
}
.NM_End {
    height: 3rem;
    display: none; 
    gap: 3rem;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    position: fixed;
    top: 0;
    right: -7px; 
}

.NM_ToggleButton.open {
    right: 170px;
    top: 42px;
    display: flex;
    flex-direction: row;
    gap: .3rem;
    z-index: 100;
}
.NM_ToggleButton.open span {
    width: 2px;
    height: 25px;
}
.NM_End.open .NM_Link {
    text-decoration: none;
    color: var( --second-text-color);
    position: relative;
}
.NM_End.open .NM_Link:hover{
    color: var(--main-bgcolor);
}

.NM_End.open .NM_Link:hover::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    display: block;
    margin-top: 5px;
    right: 0;
    background: var(--main-bgcolor);
    transition: width .5s ease;
    -webkit-transition: width .5s ease;
}
.NM_ToggleButton.open::after {
    content: '';
    position: absolute;
    bottom: -5px;
    width: 100vw;
    height: 1px;
    background-color: #E1E1E1;
}
@media screen and (min-width: 992px) {
    .NM_ToggleButton {
        display: none; 
    }
}
@media screen and (max-width:992px){
    .NM_Start,.NM_Buttons{
        display: none;
    }
    .NM_Logo{
        height: 27px;
        width: 105px;
        left: 24px;
        transform: translateX(0%);
    }
    .NM_NavBar{
        width: calc(100% - 14px);
        left: 7px;
    }
}